.welcome-header {
    display: flex;
    justify-content: center;
    color: #e8e0e0;
    background-color: #2c3e50;
    font-weight: 300;
    line-height: 113%;
    letter-spacing: 2px;
    margin: 5px;
}

h2, h3 {
    font-size: x-large;
    text-align: center;
    color: #2c3e50;
}
  
footer h3 {
      font-size: x-large;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 10px;
}

/* Image container styles */
.card img {
    padding: 15px;
    background: #2c3e50;
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.btn-responsive {
    width: 100%; /* Make buttons occupy full width */
    max-width: 200px; /* Set a maximum width to avoid excessive stretching on larger screens */
    margin: 10px auto; /* Center buttons vertically and add spacing between them */
}

#workbox, #skillsbox, #contactbox {
    margin-top: 20px;
}
