.welcome-header {
    display: flex;
    justify-content: center;
    color: #e8e0e0;
    background-color: rgb(98, 98, 171);
    font-weight: 300;
    line-height: 113%;
    letter-spacing: 2px;
    margin: 5px;
}

h2, h5 {
    font-size: x-large;
    text-align: center;
}
  
footer h3 {
      font-size: x-large;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 10px;
}

/* Image container styles */
.card img {
    padding: 15px;
    background: #2c3e50;
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}



